@define-color selected-text white;
@define-color text #c6d0f5;
@define-color base rgba(15, 15, 15, 0.01);
@define-color border rgba(255, 255, 255, 0.1);
@define-color foreground #c6d0f5;
@define-color background rgba(200, 200, 200, 0.8);



/* Rounded Corners */
.box-wrapper {
  border-radius: 10px;
}

/* Selected Item Styling */
child:selected {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.01);
  transition: all 0.9s ease-in;
  transition: background-color 0.5s ease;
  border: 2px solid rgba(200, 200, 200, 0.1);
  font-weight: 900;
  padding: 0.1px;
}

child:selected .item-box {
  transition: all 0.3s ease;
  margin-left: 0px;
}

/* Revert Selected Item Color */
child:selected .item-box * {
  color: @text;
}

/* Enable Quick Activation Hints */
.item-quick-activation {
  font-size: 15px;
  color: alpha(@text, 0.15);
  margin-right: 10rem;
}

/* Transparent Search Bar */
.search-container {
  background-color: transparent;
}

#window {
  background: rgba(30, 30, 30, 0.01);
  padding: 10px;
  /* If there are other background properties, ensure they don't override this */
}

.preview {
  border: 1.5px solid alpha(@foreground, 0.1);
  /* padding: 10px; */
  border-radius: 10px;
}
